# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Secret Environment Variables
.env.dev
.env.prod

# Localization
lib/l10n/*.dart

android/app/google-services.json

# Catch-all for any future environment files
*.env

# Firebase iOS/macOS Configs (Crucial if you ever build for Apple)
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Android release keystore (Prevents leaking your app signing keys later)
android/key.properties

# Firebase generated configuration files containing API keys
lib/core/firebase/firebase_options_dev.dart
lib/core/firebase/firebase_options_prod.dart

# Corrected Firebase Path
android/app/src/google-services.json

# Ignore generated environment variable files
lib/core/env/*.g.dart